<template>
  <div class="card-wrapper">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.card-wrapper {
  border-color: #f2f2f2;
  box-shadow: 0 2px 50px rgba(#333, 0.08);
  &:hover {
    box-shadow: 0 2px 50px rgba(#333, 0.25);
  }
}
</style>
