<script lang="ts">
import Vue from 'vue';
import { SlpBreadcrumb } from '~/components/common/index';

export default Vue.extend({
  components: {
    SlpBreadcrumb,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="comparison-table__header">
    <SlpBreadcrumb v-if="data.crumbs" :crumbs="data.crumbs" />
    <SlpTypography
      id="table-description"
      class="slp-mt-48 header"
      tag="h1"
      variant="heading2-bold"
    >
      {{ data.header }}</SlpTypography
    >
    <SlpTypography tag="div">
      <div class="description" v-html="$md.render(data.description)"></div
    ></SlpTypography>
  </div>
</template>

<style lang="scss" scoped>
.comparison-table__header {
  margin-top: $spacing-24;
  margin-bottom: $spacing-32;
  .header {
    margin-bottom: $spacing-16;
  }
}
.description:deep(p:not(:first-child)) {
  margin-top: $spacing-16;
}
</style>
