<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
    showInMobile: {
      type: Boolean,
      required: false,
      default: false,
    },
    selectedTab: {
      type: Number,
      required: true,
      default: 0,
    },
  },
  methods: {
    getIconName(stage) {
      let iconName = stage;
      if (stage === 'govern') {
        iconName = 'shield-check-alt';
      } else if (stage === 'release') {
        iconName = 'agile-alt';
      }

      return iconName;
    },
    onKeyDown(keyEvent: any, tabIndex: number) {
      switch (keyEvent.key) {
        case 'ArrowLeft':
          this.moveFocusToPreviousTab(tabIndex);
          break;

        case 'ArrowRight':
          this.moveFocusToNextTab(tabIndex);
          break;

        case 'Home':
          this.moveFocusToTab(0);
          break;

        case 'End':
          this.moveFocusToTab((this as any).$refs.tabsRefs.length - 1);
          break;

        default:
          break;
      }
    },
    moveFocusToPreviousTab(tabIndex: number) {
      if (tabIndex === 0) {
        this.moveFocusToTab((this as any).$refs.tabsRefs.length - 1);
      } else {
        this.moveFocusToTab(tabIndex - 1);
      }
    },
    moveFocusToNextTab(tabIndex: number) {
      if (tabIndex === (this as any).$refs.tabsRefs.length - 1) {
        this.moveFocusToTab(0);
      } else {
        this.moveFocusToTab(tabIndex + 1);
      }
    },
    moveFocusToTab(tabIndex: any) {
      (this as any).$refs.tabsRefs[tabIndex].focus();
    },
  },
});
</script>

<template>
  <div class="wrapper">
    <div
      class="tabs"
      :class="{ mobile: showInMobile }"
      role="tablist"
      aria-label="stage-tabs"
    >
      <button
        v-for="(tab, tabIndex) in data.comparison_table"
        :id="`${tab.stage}-control`"
        :key="tab.stage"
        ref="tabsRefs"
        class="tab"
        :class="{ selected: selectedTab === tabIndex }"
        type="button"
        role="tab"
        :aria-controls="`${tab.stage}-panel`"
        :tabindex="tabIndex == selectedTab ? '' : '-1'"
        :aria-selected="tabIndex === selectedTab ? 'true' : 'false'"
        @click="$emit('tab-change', tabIndex)"
        @keydown="onKeyDown($event, tabIndex)"
      >
        <SlpIcon
          class="icon"
          :name="getIconName(tab.stage.toLowerCase())"
          variant="marketing"
          size="md"
        />
        <SlpTypography variant="body2">{{ tab.stage }}</SlpTypography>
      </button>
    </div>
  </div>
  <!-- Commenting this block until further iteration. see: https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/merge_requests/1309#note_1176447355 -->
  <!-- <div class="mobile-overflow-arrow">
    <SlpIcon name="chevron-right" variant="product" size="md" />
  </div> -->
</template>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    width: 66px;
    background: linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 90.85%
    );
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
  .mobile-overflow-arrow {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
}
.tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
  &.mobile {
    @media (max-width: $breakpoint-md) {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      bottom: -13px;
      position: relative;
      z-index: 2;
    }
  }
  .tab {
    position: relative;
    bottom: 8px;
    min-width: 100px;
    padding: 16px;
    padding-bottom: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    cursor: pointer;
    border: 0 solid;
    @media (min-width: $breakpoint-md) {
      bottom: -3px;
      padding-bottom: 24px;
    }
    .icon {
      margin-bottom: 16px;
      height: 24px;
      width: 24px;
    }
    &:hover,
    &:focus {
      span {
        font-weight: $font-weight-bold;
      }
    }
    &.selected {
      background-color: $color-surface-50;
      border-bottom: 3px solid $color-accent-500;
      position: relative;

      &:after {
        content: '';
        background: url('/nuxt-images/competition/active-arrow.svg');
        background-repeat: no-repeat;
        z-index: 2;
        position: absolute;
        width: 19px;
        height: 11px;
        left: 50%;
        transform: translateX(-50%);
        bottom: -13px;

        @media (min-width: $breakpoint-md) {
          display: none;
        }
      }
      span {
        font-weight: $font-weight-bold;
      }
      @media (min-width: $breakpoint-md) {
        border-bottom: 0;
        box-shadow: 0px -20px 50px -16px #d1d0d3;
        border-top: 3px solid $color-accent-500;
        padding-top: 14px;
      }
    }
  }
}
</style>
